/* -------- SECCIÓN SOBRE NOSOTROS ------------ */
.about{
    width: 100%;
    background: #085f63;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    container-name: about;
    gap: 1rem;
}

.about-items__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-items{
    width: 100%;
    transition: transform 0.3s;
}

.about-item__tittle{
    color: #ffffff;
}

.about-item__box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 12rem;
    background-image: linear-gradient(#0009, #0009), url('assets/img/about-vision.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    border-radius: 5px;
}

.about-item__box--mision{
    background-image: linear-gradient(#0009, #0009), url('assets/img/about-mission.jpg');
}

.about-item__box--objetivos{
    background-image: linear-gradient(#0009, #0009), url('assets/img/about-objectives.jpg');
}

.about-tittle{
    color: #ffffff;
    text-align: center;
}

.about-text{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-items:hover {
    transform: translateY(-5px);
}

/* Media queries para la sección "Sobre nosotros" en desktop */
@container about (min-width: 700px) {

    .about{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-items__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .about-items{
        width: 30%;
    }

    .about-text {
        font-size: 1.2rem;
    }
}

/* -------- FIN DE SECCIÓN SOBRE NOSOTROS ------------ */