/* -------- ENCABEZADO ------------ */

.header{
    container-type: inline-size;
    container-name: header;
}

/* Contenedor principal del encabezado */
.header__items {
    background-color: #085f63;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* Oculta el checkbox para el menú hamburguesa */
.header__checkbox{
    display: none;
}
/* Oculta el menú de navegación por defecto */
.header__nav {
    display: none;
    align-items: center;
    gap: 1rem;
}
/* Muestra el menú cuando el checkbox está activado */
.header__checkbox:checked ~ .header__nav{
    display: flex;
    width: 100%;
    flex-direction: column;
}

/* Estilo del botón para abrir el menú */
.header__open-nav-button{
    font-size: 3rem;
    color: #D9D9D9;
    font-weight: 600;
}
/* Contenedor del logo */
.header__logo-container {
    flex-shrink: 0;
}
/* Estilo del logo */
.header__logo {
    width: 150px;
    height: auto;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}
/* Estilo de los enlaces de navegación */
nav a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #49beb7;
}
/* Estilo de botones genéricos */
.btn {
    background-color: #49beb7;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #085f63;
}

/* Media queries para el encabezado en desktop */
@container header (min-width: 700px) {
    .header__items {
        flex-direction: row;
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .header__nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 2rem;
    }

    .header__open-nav-button{
        display: none;
    }
}
/* -------- FIN DEL HEADER ------------ */