/* Resetea márgenes, paddings y establece box-sizing global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Importa la fuente Montserrat desde un archivo local */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("./assets/fonts/Montserrat\ Alternates\ Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Estilos base del cuerpo de la página */
body {
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.6;
  background-color: #FFFFFF;
  color: #085f63;
}
/* Suaviza el desplazamiento al navegar con anclas */
html {
  scroll-behavior: smooth;
}

/* -------- SECCIONES ------------ */
section {
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: #085f63;
  margin-bottom: 1rem;
}
/* -------- FIN DE SECCIONES ------------ */
